:root{
  background-color: rgba(255, 235, 182, 0.402)
}

img{
  cursor:pointer;
}

.Navbar {
  
  color:white;
  font-size:20px;
  margin:auto;
  text-align:center;
  height:30px;
  width:25%;
  margin-bottom:40px;
}

.navOption{
  padding:20px;
}

.bookContainer{
  width:70%;
  text-align:center;
  display:inline-block;
}

.bookPreview{
  width:50px;
  display:inline-block;
  margin-left:120px;

}


.BookDisplay{
  margin:auto;
  margin-top:20px;
  width: 50%; 
 
}

.BookInfo{
  text-align:center;
  height:auto;
}

.BookPicture{
  margin:auto;
  text-align:center;
  width:50%;
  padding:20px;
  background-color:rgb(207, 205, 191);
}

.PictureDisplay{
  margin:auto;
}

.filterContainer{
  text-align:center;
  margin-bottom:40px;
}

.filterInput{
  padding:10px;
  margin:20px;
}